:root
{
    /* For vars I'm copying the js naming scheme to facilitate loading */
    --bgColor: #f3e3c5;
    --tooltipBgColor: #f8f1d8;
    
    --mainPanelBgColor: #ecd8ba;
    --mainPanelBgInactiveColor: #e6c8ac;
    
    --contentPanelBgColor: #fdf0d8;
    --timeWeatherPanelBgColor: #f3d7a2;
    
    --fontColor: #33322e;
    --hintFontColor: #afa88f;
    --progressBarFontColor: #fdfdf5;
    
    --progressBarColorFilledDefault: magenta;
    --progressBarColorMissingDefault: #cfb687;
    
    --healthBarColorFilled: #5ad35a;
    --healthBarColorMissing: var(--progressBarColorMissingDefault);
    --vigourBarColorFilled: #dd8615;
    --vigourBarColorMissing: var(--progressBarColorMissingDefault);
    --essenceBarColorFilled: #2f2fd4;
    --essenceBarColorMissing: var(--progressBarColorMissingDefault);
    --skillBarColorFilled: #d49f2c;
    --skillBarColorMissing: transparent;
    
    --buttonHoverColor: #ecca59;
    
    --boxBorderColor: #b38f6f;

    --timeWeatherDisplayHeight: 24px;

    --z-screen-tint: 3;
    --z-over-screen-tint: 4;
}

.fake_link
{
    border: none;
    outline: none;
    text-decoration: none;
    cursor: default;
    color: inherit;
}

.main
{
    user-select: none;

    background-color: var(--bgColor);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: var(--fontColor);

    transition-duration: 0.2s;
}

.main_grid
{
    display: grid;
    grid-template-columns: 20% auto 20%;
    /* Uncomment and remove line below when ready to implement sliding timeline */
    /* grid-template-rows: calc(var(--timeWeatherDisplayHeight) * 2) 110px auto 20px 20px; */
    grid-template-rows: var(--timeWeatherDisplayHeight) 130px auto 20px 20px;

    grid-template-areas: 
        "status_pane time_weather right_pane"
        "status_pane mid_pane right_pane"
        "left_pane mid_pane right_pane"
        "left_tabs mid_tabs right_tabs"
        "meta meta meta";
    
    gap: 0px 8px;
    text-indent: 5px;

    position: fixed;
    inset: 4px;
}

.main_grid_status_pane { grid-area: status_pane; }
.main_grid_left_pane { grid-area: left_pane; }
.main_grid_left_tabs { grid-area: left_tabs; }
.main_grid_time_weather { grid-area: time_weather; }
.main_grid_mid_pane { grid-area: mid_pane; }
.main_grid_mid_tabs { grid-area: mid_tabs; }
.main_grid_right_pane { grid-area: right_pane; }
.main_grid_right_tabs { grid-area: right_tabs; }
.main_grid_meta { grid-area: meta; text-indent: 0px; }

.attribute_value
{
    text-align: right;
    float: right;
    margin-right: 4px;
}

.main_panel_element
{
    background-color: var(--mainPanelBgColor);
    overflow-y: auto;
}

.flush_box
{
    margin: 0px -1px;
}

.location_content_panel
{
    height: 100px;

    background-color: var(--contentPanelBgColor);
}

.time_weather_panel
{
    background-color: var(--timeWeatherPanelBgColor);
}

.actions_container
{
    display: flex;
    flex-direction: column;
}

.action_button
{
    transition-duration: 0.2s;
}

.action_button:hover
{
    background-color: var(--buttonHoverColor);
}

.tab_switcher
{
    align-content: start;
    margin: -2px 0px -2px 0px;

    text-indent: 0px;
}

.tab_button
{
    font-size: 10pt;

    padding: 1px 8px 2px 8px;

    transition-duration: 0.2s;
}

.tab_button_selected { background-color: var(--mainPanelBgColor); }
.tab_button_unselected { background-color: var(--mainPanelBgInactiveColor); }
.tab_button_unselected:hover { background-color: var(--buttonHoverColor); }
.filter_button_selected { background-color: var(--mainPanelBgColor); }
.filter_button_selected:hover { background-color: var(--buttonHoverColor); }
.filter_button_unselected { background-color: var(--mainPanelBgInactiveColor); }
.filter_button_unselected:hover { background-color: var(--buttonHoverColor); }

.log_container
{
    align-content: end;

    overflow-y: auto;
}

.log_message
{
    border-color: var(--boxBorderColor);
    border-width: 1px 0px 0px 0px;
    border-style: dotted;
    
    padding: 0px 0px 2px 0px;

    text-align: center;
    text-indent: 0;
}

.status_container
{
    display: flex;
    flex-direction: column;
}

/* TODO: goes slightly outside the borders but not a big deal imo*/
.name_pane
{
    color: var(--fontColor);

    text-indent: 0px;
    text-align: center;

    background-color: var(--bgColor);
    border: transparent;

    padding-top: 5px;
}

input
{
    font-size: 12pt;
}

input:focus
{
    outline: none;
}

.progress_bar_container
{
    color: transparent;
    display: flex;
    position: relative;

    text-indent: 0px;
}

.progress_bar_container::after
{
    content: '​';
}

.progress_bar_filled
{
    background-color: var(--progressBarColorFilledDefault);
}

.progress_bar_missing
{
    background-color: var(--progressBarColorMissingDefault);
}

.progress_bar_label
{
    color: var(--progressBarFontColor);
    background-color: transparent;
    position: absolute;
    text-align: center;
    width: 100%;

    text-indent: 0px;
}

.health_progress_bar_filled_color { background-color: var(--healthBarColorFilled); }
.health_progress_bar_missing_color { background-color: var(--healthBarColorMissing); }
.vigour_progress_bar_filled_color { background-color: var(--vigourBarColorFilled); }
.vigour_progress_bar_missing_color { background-color: var(--vigourBarColorMissing); }
.essence_progress_bar_filled_color { background-color: var(--essenceBarColorFilled); }
.essence_progress_bar_missing_color { background-color: var(--essenceBarColorMissing); }
.skill_progress_bar_filled_color { background-color: var(--skillBarColorFilled); }
.skill_progress_bar_missing_color { background-color: var(--skillBarColorMissing); }

.invisible
{
    display: none;
}

.ability_container
{
    padding: 4px 0px 0px 0px;

    font-size: 14pt;
}

.ability_container_label
{
    transition-duration: 0.2s;
}

.ability_container_label:hover
{
    background-color: var(--buttonHoverColor);
}

.skill_container
{
    font-size: 12pt;

    text-indent: 8px;
}

.skill_label_level
{
    text-align: right;
    float: right;
    margin-right: 4px;
}

.tooltip
{
    position: fixed;
    visibility: hidden;

    background-color: var(--tooltipBgColor);

    padding: 4px 8px;

    max-width: 200px;
    max-height: 400px;
    overflow-y: auto;

    border-color: var(--boxBorderColor);
    border-width: 1px;
    border-style: solid;

    z-index: 10;
    text-indent: 0px;
}

/* used for debugging
.box
{
    border-color: var(--boxBorderColor);
    border-width: 1px;
    border-style: solid;
}
*/

.meta_button
{
    border-color: var(--boxBorderColor);
    border-width: 0px 1px 0px 0px;
    border-style: dotted;
    transition-duration: 0.2s;

    padding: 0px 4px;
}

.meta_button:hover
{
    background-color: var(--buttonHoverColor);
}

.bottom_border
{
    border-color: var(--boxBorderColor);
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
}

.top_border
{
    border-color: var(--boxBorderColor);
    border-width: 1px 0px 0px 0px;
    border-style: dotted;
}

.timeline_display
{
    text-indent: 0px;

    overflow: hidden;

    height: var(--timeWeatherDisplayHeight);
}

.timeline_img
{
    height: var(--timeWeatherDisplayHeight);
    max-width: 100%;

    object-fit: cover;
}

.time_display
{
    height: var(--timeWeatherDisplayHeight);
}

.tab_header
{
    text-indent: 0px;
    border-style: dotted;
    border-width: 1px 0px;
    border-color: var(--boxBorderColor);
    font-size: 14pt;
    text-align: center;
}

.equip_grid
{
    width: 100%;

    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 20px 20px 20px 20px;

    gap: 0px 0px;

    grid-template-areas: 
        "head head"
        "body body"
        "mainhand offhand"
        "acc0 acc1";

    text-indent: 0px;
    text-align: center;
}

.equip_grid_head { grid-area: head; }
.equip_grid_body { grid-area: body; }
.equip_grid_mainhand { grid-area: mainhand; }
.equip_grid_offhand { grid-area: offhand; }
.equip_grid_acc0 { grid-area: acc0; }
.equip_grid_acc1 { grid-area: acc1; }

.inventory_entry_amount
{
    text-align: right;
    float: right;
    margin-right: 4px;
}

.inactive
{
    color: var(--hintFontColor);
}

::placeholder
{
    color: var(--hintFontColor);
}

.screen_tint
{
    position: fixed;
    inset: 0;

    z-index: var(--z-screen-tint);

    /* display: none; */

    background-color: #33333333;

    display: none;

    width: 100%;
    height: 100%;
}

.settings_panel
{
    position: fixed;
    background-color: var(--bgColor);

    padding: 4px 0px;

    width: 100%;
    height: 150px;

    bottom: 22px;
    left: 0px;

    z-index: var(--z-over-screen-tint);

    text-indent: 20px;

    /* TODO: actual grid
    since it's just the one option for now though it's fine */
}

/* Apparently can't be properly styled and needs replacing with a custom element
TODO IG */
select
{
    background-color: var(--mainPanelBgColor);
    border: none;
    color: var(--fontColor);

    font-size: 12pt;
}

select:focus
{
    outline: none;
}

details summary
{
    list-style: none;
}

details summary::marker
{
    display: none;
}